<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Processo seletivo CAED</title>
      </head>
      <body>
        <h1>Cadastro de Aluno</h1>

        <% if (erros){%>
          <ul>
            <% for(var key in erros){ %>
              <li><%= erros[key].msg %></li>
            <% } %>
          </ul> 
        <% } %>

        <form action="/addaluno" method="POST">
          <input type="text" name="nome" max="100" placeholder="Nome" value="" required />
          <input type="number"  name="cpf" placeholder="cpf" value="" required />
          <input type="date" name="data_nascimento"  placeholder="Nome" value="" required />
          <select name="sexo" required>
              <option>Selecione</option>
              <option value="M">M</option>
              <option value="F">F</option>
          </select>
          <input type="text" name="email" placeholder="E-mail" />
          <button>Adicionar</button>
        </form>
        

      </body>
    </html>